# Compiled output
dist/
tmp/
out-tsc/
bazel-out/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Sass
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# Editor
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store

# Tests
coverage/